<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Word Score App</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles/styles.css' %}">
</head>
<body>
    <div class="container">
        <h1>Word Score Checker</h1>
        <form id="word-score-form">
            {% csrf_token %}
            <input type="text" name="page_url" id="page_url" placeholder="Enter URL" required>
            <input type="text" name="word" id="word" placeholder="Enter Word" required>
            <button type="submit">Check</button>
        </form>

        <div class="result-box" id="result-box" style="display: none;">
            <p id="status">Processing...</p>
            <p id="total-occurrences"></p>
            <p id="all-pages"></p>
        </div>

    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{% static 'js/script.js' %}"></script>
</body>
</html>